.team-menu-button-active {
  background: var(--white);
  color: var(--red);
  border-color: var(--red);
}

.team-menu-button-active:hover {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
}
